*{
    align-content: center;
}

body{
    background-color: beige;
}

footer{
    
}

div{
    border: 1px solid green;
    display: inline-block;
    color: red;
    font-family: arabic-indic;
    font-size: 10;
}
/*
#mejor{
    background-color: greenyellow;
}

#promedio{
    background-color: yellow;
}
#peor{
    background-color: red;
}*/