*{
    align-content: center;
}

body{
    background-color: beige;
}

footer{
    font-family: courier new;
}

div{
    border: 1px solid green;
    display: inline-block;
    color: red;
    font-family: arabic-indic;
    font-size: 10;
}
#grafica{
    background-color: red;
    height: 500px;
    width: 500px
}

/*
#mejor{
    background-color: greenyellow;
}

#promedio{
    background-color: yellow;
}
#peor{
    background-color: red;
}*/